* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
   
   /* Header/Blog Title */
    .header {
      padding: 30px;
      overflow: hidden;
      text-align: center;
      background: white;
     
  }
  
  .header img{
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: auto;
  }
  
  .header h1 {
    font-size: 50px;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #333;
    width: 100%;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;

  }
  .leftcolumn img{
    width: auto; height: 200px;
    margin-left: 5%;
    display: flex;
    align-items: left;

   
    }

    .leftcolumn card{
      display: flex;
      align-content: center;    
      justify-content: center;
      align-items: center;  
      justify-items: center;
      padding: 13px;
  width: 750px;
    }

    .leftcolumn p, h2, h5{
      width: 600px;
      margin-left: 5%;
    }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 15px;
margin-right: auto;  
}

  .rightcolumn img{
    height: auto;
    width: auto;

  }

  
  .rightcolumn p{
    display: inline-block;
    margin: auto;
    margin-top: 25px;
  }
  
  /* Fake image */
fakeimg{
    background-color: #aaa;
    width: 600px; height: 200px;
    padding: 0px;
    overflow: hidden;
    display: flexbox;

  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 48px;
    margin-top: 16px;
    display: flexbox;
  }




  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    background: #ddd;
    margin-top: 20px;
    display: flex;
    align-content: center;    
    justify-content: center;
    align-items: center;  
    justify-items: center;
    padding: 13px;
width: 100%;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;}
    }
  }
  }